services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile.dev
      args:
        EDITOR: ${EDITOR:-""}
        SHELL_CHOICE: ${SHELL_CHOICE:-""}
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DATABASE: app
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      DATABASE_URL: "postgresql://postgres:postgres@postgres:5432/app"
      MIX_ENV: "dev"
    ports:
      - "4000:4000"
    volumes:
      - ..:/app:cached
    entrypoint: sleep infinity
    depends_on:
      - postgres

  postgres:
    image: postgres:18
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app

volumes:
  postgres-data:
